{
  "basePath": "/2.0/",
  "host": "demo.biapi.pro",
  "swagger": "2.0",
  "paths": {
    "/account_types": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get account types",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "description": "accounttypes",
            "schema": {
              "type": "object",
              "required": [
                "accounttypes"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "accounttypes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account_types/{id_account_type}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_account_type",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get an account type",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AccountType"
            },
            "description": "Successful GET on AccountType resource"
          }
        }
      }
    },
    "/admin/jwt": {
      "post": {
        "description": "This endpoint generates a new jwt manage token. It requires an admin manage token to be used<br><br>",
        "parameters": [
          {
            "name": "scope",
            "type": "string",
            "description": "scope requested for the token (default: config)",
            "in": "formData",
            "required": false
          },
          {
            "name": "duration",
            "type": "integer",
            "description": "number of minute before the token expiration (0 for token that won't expire unless the client application is deleted) (default: 1)",
            "in": "formData",
            "required": false
          }
        ],
        "summary": "Generate a jwt manage token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "jwt_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1Mzg1OTUwODYsInR5cGUiOiJtYW5hZ2VfdG9rZW4iLCJhdWQiOiJsb2NhbGhvc3Q6MzE1OCIsImV4cCI6MTUzODU5NTE0Niwic2NvcGUiOiJjb25maWcifQ.Z-ygtorGB3yitd2MNias9r3dPojPh4yxFKO5uVM0NhEty5UhnwkqSZA29JKZKmTc7mUSDc30THFIL-VkHBOu2gfxv3fjrZ9R35jo29H_TEYpxiOxxl0m5jLxDn4KEoWpDCiuwkoEdklVJCOMFGC_Sp3uZ89C82OZ_-7CDExnA99FPKbJpVVHaIQdlmOAATHG-KvRJKJu7j2wIUSpIZ3flIqav9dBtaHbjaI-K0WTSC-a13gdzHJKhHmReKWNL8cOMIziPrUx4zv57_DSLWSI2e2FJ_SKbiEAgHcfEmnwktPwTeAdJhgUq5UVH1EP71NkpTQQL4SzHi3tlKmsG3SCbg",
              "payload": {
                "iat": 1538595086,
                "type": "manage_token",
                "aud": "localhost:3158",
                "exp": 1538595146,
                "scope": "config"
              }
            },
            "schema": {
              "required": [
                "jwt_token",
                "payload"
              ],
              "type": "object"
            }
          }
        }
      }
    },
    "/auth/init": {
      "post": {
        "description": "This endpoint creates a new temporary token related to a new anonymous user.<br><br>It will expire 30 minutes after.<br><br>Note: if you supply client_id and client_secret, or if you call this endpoint with the manage_token, the token will be permanent.<br><br>",
        "parameters": [
          {
            "name": "client_id",
            "type": "string",
            "description": "ID of the client",
            "in": "formData",
            "required": false
          },
          {
            "name": "client_secret",
            "type": "string",
            "description": "secret of the client",
            "in": "formData",
            "required": false
          }
        ],
        "summary": "Create a new anonymous user",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "auth_token": "A37mwXNCblbWX0LrvpRq60sZ6NBft/t5tsHhADie56/TJscwSi8NSjVmUIf6iLqpDwPe6lyFXM3z7E/zKf9eRHUWzx4QryEgmCtwZ0XgQb9SE+HwaenwqwTuv1gHZD+n",
              "type": "temporary",
              "expires_in": 1800
            },
            "schema": {
              "required": [
                "auth_token",
                "type"
              ],
              "type": "object",
              "properties": {
                "auth_token": {
                  "type": "string",
                  "description": "new token created for the new anonymous user"
                },
                "type": {
                  "type": "string",
                  "description": "type of the token"
                },
                "expires_in": {
                  "type": "integer",
                  "description": "duration in seconds of the token validity"
                }
              }
            }
          }
        }
      }
    },
    "/auth/jwt": {
      "post": {
        "description": "This endpoint generates a new jwt token for the user. This token will last the time in minutes given by the config key auth.default_token_expire (permanent if this the parameter expire=False is given)<br><br>",
        "parameters": [
          {
            "name": "client_id",
            "type": "string",
            "description": "id of the client",
            "in": "formData",
            "required": false
          },
          {
            "name": "client_secret",
            "type": "string",
            "description": "secret for the client",
            "in": "formData",
            "required": false
          },
          {
            "name": "scope",
            "type": "string",
            "description": "scope requested for the token",
            "in": "formData",
            "required": false
          },
          {
            "name": "id_user",
            "type": "integer",
            "description": "user for whom the token has to be generated. If not supplied, a user will be created",
            "in": "formData",
            "required": false
          },
          {
            "name": "expire",
            "type": "boolean",
            "description": "if set to True, the token will expire n minutes after its creation, n being the value of configuration key auth.default_token_expire (default: True)",
            "in": "formData",
            "required": false
          }
        ],
        "summary": "Generate a user jwt token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "jwt_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c2VyIjozMywiYXVkIjoibG9jYWxob3N0OjMxNTgiLCJpc3MiOjE5ODM4OTgyLCJleHAiOjE1Mzg1OTY2OTcsInNjb3BlIjoiIiwiaWF0IjoxNTM4NTk0ODk3LCJ0eXBlIjoic2hhcmVkX2FjY2VzcyJ9.Tesc90tQ35Fk2SbRXw_Da1Ec-AwAzi104N-hrZWyBeXYkoao6512Ym8v_3207zm-bE1mRDjmQJQN0bbvImZlNGKA8JqoxbXF5l8eetXnv-U9yZXp9ScpUoNWxrRbtyyiwIGWDsRjCjOXcrVvzYd0oJ2RpUXR2NFyCCRjuMJFU87ojGj9eHo5e1B78vB1xZe3c3Yyx8bCvm0Qe2JjoSuhnXgMzAuLQm2KHha_9iHuQBC4zmmICOvNsQ5gBWAnf0W0IYHTZG1vioGNstX05nYiGSSlmzP6HgA5CmB2A57rBERFYB7V59wSQJzUyVOpCOuPCp7zPkRNfgFsZqqACg-DDg",
              "payload": {
                "id_user": 33,
                "aud": "localhost:3158",
                "iss": 19838982,
                "exp": 1538596697,
                "scope": "",
                "iat": 1538594897,
                "type": "sharedAccess"
              }
            },
            "schema": {
              "required": [
                "jwt_token",
                "payload"
              ],
              "type": "object",
              "properties": {
                "jwt_token": {
                  "type": "string",
                  "description": "the jwt token"
                },
                "payload": {
                  "type": "object",
                  "description": "the payload contained in the jwt token"
                }
              }
            }
          }
        }
      }
    },
    "/auth/renew": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "grant_type",
            "type": "string",
            "description": "default is \"client_credentials\"",
            "in": "formData",
            "required": false
          },
          {
            "name": "client_id",
            "type": "string",
            "description": "ID of the client",
            "in": "formData",
            "required": true
          },
          {
            "name": "client_secret",
            "type": "string",
            "description": "secret of the client",
            "in": "formData",
            "required": true
          },
          {
            "name": "id_user",
            "type": "integer",
            "description": "id of the user to generate a token for",
            "in": "formData",
            "required": true
          },
          {
            "name": "revoke_previous",
            "type": "boolean",
            "description": "if true, all other permanent tokens for the user will be deleted",
            "in": "formData",
            "required": false
          }
        ],
        "summary": "Get a new access token given an user id and client credentials",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "access_token": "A37mwXNCblbWX0LrvpRq60sZ6NBft/t5tsHhADie56/TJscwSi8NSjVmUIf6iLqpDwPe6lyFXM3z7E/zKf9eRHUWzx4QryEgmCtwZ0XgQb9SE+HwaenwqwTuv1gHZD+n",
              "token_type": "Bearer"
            },
            "schema": {
              "required": [
                "access_token",
                "token_type"
              ],
              "type": "object",
              "properties": {
                "access_token": {
                  "type": "string",
                  "description": "the access token transformed from the temporary one"
                },
                "token_type": {
                  "type": "string",
                  "description": "the access token type"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "description": "Request a new user token by giving an username and a password. Or a manage payment token by giving a client<br><br><br><br>",
        "parameters": [
          {
            "name": "grant_type",
            "type": "string",
            "description": "password when requesting a user token and client_credentials for a payment manage token (default: password)",
            "in": "formData",
            "required": false
          },
          {
            "name": "username",
            "type": "string",
            "description": "username",
            "in": "formData",
            "required": true
          },
          {
            "name": "password",
            "type": "string",
            "description": "password",
            "in": "formData",
            "required": true
          },
          {
            "name": "application",
            "type": "string",
            "description": "application name",
            "in": "formData",
            "required": true
          },
          {
            "name": "scope",
            "type": "string",
            "description": "scope requested for the token",
            "in": "formData",
            "required": false
          }
        ],
        "summary": "Login to API with credentials",
        "tags": [
          "PFM"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "token": "A37mwXNCblbWX0LrvpRq60sZ6NBft/t5tsHhADie56/TJscwSi8NSjVmUIf6iLqpDwPe6lyFXM3z7E/zKf9eRHUWzx4QryEgmCtwZ0XgQb9SE+HwaenwqwTuv1gHZD+n",
              "scope": "",
              "user": {},
              "profile": {}
            },
            "schema": {
              "required": [
                "token",
                "scope"
              ],
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "the requested token"
                },
                "scope": {
                  "type": "string",
                  "description": "the token scope"
                },
                "expires_in": {
                  "type": "integer",
                  "description": "duration in seconds of the token validity"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "This endpoint removes the token in use.<br><br>",
        "parameters": [],
        "summary": "Remove user access",
        "tags": [
          "Authentication",
          "PFM"
        ],
        "responses": {
          "200": {
            "description": "standard HTTP response"
          }
        }
      }
    },
    "/auth/token/access": {
      "post": {
        "description": "In order to register a new user with the OAuth 2 process, the client has to call this endpoint to request a granted access_token with the received temporary code.<br><br>",
        "parameters": [
          {
            "name": "grant_type",
            "type": "string",
            "description": "default is \"authorization_code\"",
            "in": "formData",
            "required": false
          },
          {
            "name": "client_id",
            "type": "string",
            "description": "ID of the client",
            "in": "formData",
            "required": true
          },
          {
            "name": "client_secret",
            "type": "string",
            "description": "secret of the client",
            "in": "formData",
            "required": true
          },
          {
            "name": "code",
            "type": "string",
            "description": "user's temporary code",
            "in": "formData",
            "required": true
          },
          {
            "name": "redirect_uri",
            "type": "string",
            "description": "redirect uri used by user",
            "in": "formData",
            "required": false
          }
        ],
        "summary": "Transform a temporary code to a access_token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "access_token": "A37mwXNCblbWX0LrvpRq60sZ6NBft/t5tsHhADie56/TJscwSi8NSjVmUIf6iLqpDwPe6lyFXM3z7E/zKf9eRHUWzx4QryEgmCtwZ0XgQb9SE+HwaenwqwTuv1gHZD+n",
              "token_type": "Bearer"
            },
            "schema": {
              "required": [
                "access_token",
                "token_type"
              ],
              "type": "object",
              "properties": {
                "access_token": {
                  "type": "string",
                  "description": "the access token transformed from the temporary one"
                },
                "token_type": {
                  "type": "string",
                  "description": "the access token type"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/code": {
      "get": {
        "description": "This endpoint generates a new temporary token for the user.<br><br>In case the access_token is used by a trusted device, and you want to let another one (for example a web browser) access to user resources, use this service to create a token which will expire in 30 minutes.<br><br>Additionally, you can also generate a temporary single-use token by specifying 'type=singleAccess' as query parameter. A single-use token can only be used once no matter the endpoint being accessed.<br><br>",
        "parameters": [],
        "summary": "Generate a user temporary token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "code": "A37mwXNCblbWX0LrvpRq60sZ6NBft/t5tsHhADie56/TJscwSi8NSjVmUIf6iLqpDwPe6lyFXM3z7E/zKf9eRHUWzx4QryEgmCtwZ0XgQb9SE+HwaenwqwTuv1gHZD+n",
              "type": "temporary",
              "access": "standard",
              "expires_in": 1800
            },
            "schema": {
              "required": [
                "code",
                "type",
                "access",
                "expires_in"
              ],
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "the temporary token"
                },
                "type": {
                  "type": "object",
                  "description": "the token type"
                },
                "access": {
                  "type": "string",
                  "description": "the reusability of a token (standard or single use)"
                },
                "expires_in": {
                  "type": "integer",
                  "description": "duration in seconds of the token validity"
                }
              }
            }
          }
        }
      }
    },
    "/banks": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get list of connectors",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "banks",
            "schema": {
              "type": "object",
              "required": [
                "banks"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "banks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Connector"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banks/categories": {
      "post": {
        "description": "It requires the name of the category to be created<br><br>",
        "parameters": [
          {
            "name": "name",
            "type": "string",
            "description": "name of the category to be created",
            "in": "formData",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Create bank categories",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectorCategory"
            },
            "description": "Successful POST on ConnectorCategory resource"
          }
        }
      }
    },
    "/banks/categories/{id_category}": {
      "post": {
        "description": "Edit the name for the supplied category.<br><br>",
        "parameters": [
          {
            "name": "id_category",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "name",
            "type": "string",
            "description": "new name for the supplied category",
            "in": "formData",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Edit a bank categories",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectorCategory"
            },
            "description": "Successful POST on ConnectorCategory resource"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id_category",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Delete the supplied category",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectorCategory"
            },
            "description": "Successful DELETE on ConnectorCategory resource"
          }
        }
      }
    },
    "/banks/{id_bank}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_bank",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get a connector",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Connector"
            },
            "description": "Successful GET on Connector resource"
          }
        }
      }
    },
    "/banks/{id_connector}/connections": {
      "get": {
        "description": "By default, it selects a set of 3 connections with the 'diversity' method<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "method",
            "type": "string",
            "description": "methode of selection use between 'diversity' (default), 'cover' and 'type_select'",
            "in": "query",
            "required": false
          },
          {
            "name": "n",
            "type": "integer",
            "description": "the number of requested connections, if applicable by the method",
            "in": "query",
            "required": false
          },
          {
            "name": "type",
            "type": "integer",
            "description": "for 'type_select' method. Specific account type id (weboob_type_id) to select",
            "in": "query",
            "required": false
          },
          {
            "name": "occurences",
            "type": "integer",
            "description": "for 'type_select' method. Each connection requires at least N",
            "in": "query",
            "required": false
          },
          {
            "name": "source",
            "type": "string",
            "description": "specify a source name that should have a null state",
            "in": "query",
            "required": false
          },
          {
            "name": "minutes_without_sync",
            "type": "integer",
            "description": "Ensure the connection will not have a sync happening for at",
            "in": "query",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get a subset of id_connection for a given bank. Different selection methode are possible",
        "tags": [
          "Banks",
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "connections",
            "schema": {
              "type": "object",
              "required": [
                "connections"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connections": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Connection"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banks/{id_connector}/logos": {
      "get": {
        "description": "This endpoint returns all links to files associated with this connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get all links to the files associated with this connector.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectorlogos",
            "schema": {
              "type": "object",
              "required": [
                "connectorlogos"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectorlogos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorLogo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banks/{id_connector}/logos/main": {
      "get": {
        "description": "This endpoint returns all links to files associated with this connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get all links to the files associated with this connector.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectorlogos",
            "schema": {
              "type": "object",
              "required": [
                "connectorlogos"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectorlogos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorLogo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banks/{id_connector}/logos/thumbnail": {
      "get": {
        "description": "This endpoint returns all links to files associated with this connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get all links to the files associated with this connector.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectorlogos",
            "schema": {
              "type": "object",
              "required": [
                "connectorlogos"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectorlogos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorLogo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banks/{id_connector}/sources": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get list of connector sources",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "sources",
            "schema": {
              "type": "object",
              "required": [
                "sources"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorSource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banks/{id_connector}/sources/{id_connector_source}/fields": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_connector_source",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get fields specific to a domain and a source",
        "tags": [
          "Connections",
          "Banks"
        ],
        "responses": {
          "200": {
            "description": "source_fields",
            "schema": {
              "type": "object",
              "required": [
                "source_fields"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "source_fields": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorSourceField"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banks/{id_connector}/sources/{id_source}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_source",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get the connector source",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectorSource"
            },
            "description": "Successful GET on ConnectorSource resource"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "description": "Ressource to get all existing categories<br><br>",
        "parameters": [
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get all categories",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "description": "categories",
            "schema": {
              "type": "object",
              "required": [
                "categories"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Category"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories/keywords": {
      "post": {
        "description": "If the keyword already exists the keyword is not added. Used for the categorization of transactions.<br><br>Form params: - id_category (integer): a reference towards the category associated with the keyword - keyword (string): the searched keyword - income (bool): 1 if the associated category represents an income else 0 - priority (integer): sets the priority for the keyword, used when categorizing<br><br>",
        "parameters": [
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Add a new keyword associated with a category in the database.",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Keyword"
            },
            "description": "Successful POST on Keyword resource"
          }
        }
      }
    },
    "/categories/keywords/{id_keyword}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id_keyword",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Delete a particular key-value pair on a transaction.",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Keyword"
            },
            "description": "Successful DELETE on Keyword resource"
          }
        }
      }
    },
    "/categorize": {
      "post": {
        "description": "It requires an array of transaction dictionaries. Any fields of transactions that are not required will be kept in the response. The response contains the list of transactions with two more fields: id_category and state (it indicates how the transaction has been categorized)<br><br>",
        "parameters": [
          {
            "name": "wording",
            "type": "string",
            "description": "label of the transaction",
            "in": "formData",
            "required": true
          },
          {
            "name": "value",
            "type": "integer",
            "description": "value of the transaction",
            "in": "formData",
            "required": true
          },
          {
            "name": "type",
            "type": "string",
            "description": "type of the transaction (default: unknown)",
            "in": "formData",
            "required": true
          }
        ],
        "summary": "categorize transactions without storing them",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "failed": 1,
              "total": 2,
              "transactions": [
                {
                  "id_category": 84,
                  "state": "categorized_by_keyword",
                  "type": "card",
                  "value": -14,
                  "wording": "the great restaurant  "
                },
                {
                  "id_category": 9998,
                  "state": "fail_categorizing",
                  "type": "card",
                  "value": -14,
                  "wording": "toto"
                }
              ]
            },
            "schema": {
              "required": [
                "failed",
                "total",
                "transactions"
              ],
              "type": "object"
            }
          }
        }
      }
    },
    "/certificate/{type}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "type",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get the latest certificate of a type",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Certificate"
            },
            "description": "Successful GET on Certificate resource"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "List clients",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "description": "clients",
            "schema": {
              "type": "object",
              "required": [
                "clients"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "clients": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Client"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "generate_keys",
            "type": "boolean",
            "description": "if True, generate a rsa pair of keys so the client can be used to generate jwt user tokens (default: False)",
            "in": "formData",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "name of client",
            "in": "formData",
            "required": false
          },
          {
            "name": "redirect_uris",
            "type": "string",
            "description": "list of allowed redirect uris",
            "in": "formData",
            "required": false
          },
          {
            "name": "config",
            "type": "string",
            "description": "custom config about the client",
            "in": "formData",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Create a client",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Client"
            },
            "description": "Successful POST on Client resource"
          }
        }
      }
    },
    "/clients/{id_client}": {
      "get": {
        "description": "If you use the manage_token or a configuration token, you will get also the client secret.<br><br>",
        "parameters": [
          {
            "name": "id_client",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get information about a client",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Client"
            },
            "description": "Successful GET on Client resource"
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id_client",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "generate_keys",
            "type": "boolean",
            "description": "set a rsa key pair for the client, which make it possible to generate a jwt user token using this client. No effect if the client already has a set of keys(default: False)",
            "in": "formData",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "name of client",
            "in": "formData",
            "required": false
          },
          {
            "name": "secret",
            "type": "boolean",
            "description": "reset the secret",
            "in": "formData",
            "required": false
          },
          {
            "name": "redirect_uris",
            "type": "string",
            "description": "list of allowed redirect uris",
            "in": "formData",
            "required": false
          },
          {
            "name": "primary_color",
            "type": "string",
            "description": "hexadecimal code of the client primary color (e.g F45B9A)",
            "in": "formData",
            "required": false
          },
          {
            "name": "secondary_color",
            "type": "string",
            "description": "hexadecimal code of the client secondary color (e.g F45B9A)",
            "in": "formData",
            "required": false
          },
          {
            "name": "description",
            "type": "string",
            "description": "text to display as a default description",
            "in": "formData",
            "required": false
          },
          {
            "name": "description_banks",
            "type": "string",
            "description": "text to display as a description for banks",
            "in": "formData",
            "required": false
          },
          {
            "name": "description_providers",
            "type": "string",
            "description": "text to display as a description for providers",
            "in": "formData",
            "required": false
          },
          {
            "name": "pro",
            "type": "boolean",
            "description": "Wether the client should display the company manager page",
            "in": "formData",
            "required": false
          },
          {
            "name": "config",
            "type": "string",
            "description": "custom config about the client",
            "in": "formData",
            "required": false
          },
          {
            "name": "update_config",
            "type": "boolean",
            "description": "update the custom information about the client instead of replacing the existing one (default: True)",
            "in": "formData",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Update a client",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Client"
            },
            "description": "Successful PUT on Client resource"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id_client",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Delete a client",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Client"
            },
            "description": "Successful DELETE on Client resource"
          }
        }
      }
    },
    "/clients/{id_client}/logo": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "id_client",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Update the client logo",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/File"
            },
            "description": "Successful POST on File resource"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id_client",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Delete the client logo",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/File"
            },
            "description": "Successful DELETE on File resource"
          }
        }
      }
    },
    "/config": {
      "get": {
        "description": "<br><br>",
        "parameters": [
          {
            "name": "search",
            "type": "string",
            "description": "limit the results to keys matching the given value",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get configuration of the API.",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "description": "standard HTTP response"
          }
        }
      },
      "post": {
        "description": "Request: { \"connection.disable_new\": \"0\", \"search\": \"connection.disable_new\" }<br><br>",
        "parameters": [
          {
            "name": "search",
            "type": "string",
            "description": "limit the results to keys matching the given value",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Set a configuration value on the API.",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "connection.disable_new": "0"
            },
            "schema": {
              "required": [
                "connection.disable_new"
              ],
              "type": "object"
            }
          }
        }
      }
    },
    "/config/logs": {
      "get": {
        "description": "<br><br>",
        "parameters": [
          {
            "name": "search",
            "type": "string",
            "description": "limit the results to keys matching the given value",
            "in": "query",
            "required": false
          },
          {
            "name": "type",
            "type": "string",
            "description": "type of change done on the configuration",
            "in": "query",
            "required": false
          },
          {
            "name": "min_date",
            "type": "string",
            "description": "minimal date of the change",
            "in": "query",
            "required": false,
            "format": "date"
          },
          {
            "name": "max_date",
            "type": "string",
            "description": "maximum date of the change",
            "in": "query",
            "required": false,
            "format": "date"
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get configuration change history of the API.",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "description": "configlogs",
            "schema": {
              "type": "object",
              "required": [
                "configlogs"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "configlogs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConfigLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connections": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get connections without a user",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connections",
            "schema": {
              "type": "object",
              "required": [
                "connections"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connections": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Connection"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connections/{id_connection}/logs": {
      "get": {
        "description": "Get logs about connections.<br><br>",
        "parameters": [
          {
            "name": "id_connection",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "limit number of results",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "offset of first result",
            "in": "query",
            "required": false
          },
          {
            "name": "min_date",
            "type": "string",
            "description": "minimal date",
            "in": "query",
            "required": false,
            "format": "date"
          },
          {
            "name": "max_date",
            "type": "string",
            "description": "maximum date",
            "in": "query",
            "required": false,
            "format": "date"
          },
          {
            "name": "state",
            "type": "integer",
            "description": "state of user",
            "in": "query",
            "required": false
          },
          {
            "name": "period",
            "type": "string",
            "description": "period to group logs",
            "in": "query",
            "required": false
          },
          {
            "name": "id_user",
            "type": "integer",
            "description": "ID of a user",
            "in": "query",
            "required": false
          },
          {
            "name": "id_connection",
            "type": "integer",
            "description": "ID of a connection",
            "in": "query",
            "required": false
          },
          {
            "name": "id_connector",
            "type": "integer",
            "description": "ID of a connector",
            "in": "query",
            "required": false
          },
          {
            "name": "charged",
            "type": "boolean",
            "description": "consider only logs for charged connectors",
            "in": "query",
            "required": false
          },
          {
            "name": "id_source",
            "type": "integer",
            "description": "ID of a source",
            "in": "query",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get connection logs",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectionlogs",
            "schema": {
              "type": "object",
              "required": [
                "connectionlogs"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectionlogs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectionLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connections/{id_connection}/sources": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_connection",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get connection sources",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "sources",
            "schema": {
              "type": "object",
              "required": [
                "sources"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectionSource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connections/{id_connection}/sources/{id_source}": {
      "post": {
        "description": "This endpoint is used to enable a source or force a synchronization on it.<br><br>",
        "parameters": [
          {
            "name": "id_connection",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_source",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "background",
            "type": "boolean",
            "description": "do the synchronization in background (to use with the sysynchronizenc parameter)",
            "in": "query",
            "required": false
          },
          {
            "name": "disabled",
            "type": "boolean",
            "description": "to enable or disable connector source",
            "in": "formData",
            "required": false
          },
          {
            "name": "synchronize",
            "type": "boolean",
            "description": "whether to force a synchronization on the source if it's not disabled",
            "in": "formData",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "\"",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectionSource"
            },
            "description": "Successful POST on ConnectionSource resource"
          }
        }
      },
      "put": {
        "description": "This endpoint is used to enable a source or force a synchronization on it.<br><br>",
        "parameters": [
          {
            "name": "id_connection",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_source",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "background",
            "type": "boolean",
            "description": "do the synchronization in background (to use with the synchronize parameter)",
            "in": "query",
            "required": false
          },
          {
            "name": "disabled",
            "type": "boolean",
            "description": "to enable or disable connector source",
            "in": "formData",
            "required": false
          },
          {
            "name": "synchronize",
            "type": "boolean",
            "description": "whether to force a synchronization on the source if it's not disabled",
            "in": "formData",
            "required": false
          },
          {
            "name": "force",
            "type": "boolean",
            "description": "whether to force the synchronization on the source if it's in error",
            "in": "formData",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Update connection source",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectionSource"
            },
            "description": "Successful PUT on ConnectionSource resource"
          }
        }
      },
      "delete": {
        "description": "This will make it so the specified source will not be synchronized anymore.<br><br>",
        "parameters": [
          {
            "name": "id_connection",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_source",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Disable a connection source",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectionSource"
            },
            "description": "Successful DELETE on ConnectionSource resource"
          }
        }
      }
    },
    "/connectors": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get list of connectors",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectors",
            "schema": {
              "type": "object",
              "required": [
                "connectors"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectors": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Connector"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Send a request to add a new connector<br><br>",
        "parameters": [
          {
            "name": "name",
            "type": "string",
            "description": "Name of the bank or provider",
            "in": "formData",
            "required": true
          },
          {
            "name": "url",
            "type": "string",
            "description": "Url of the bank",
            "in": "formData",
            "required": false
          },
          {
            "name": "email",
            "type": "string",
            "description": "Email of the user",
            "in": "formData",
            "required": false
          },
          {
            "name": "login",
            "type": "string",
            "description": "Users login",
            "in": "formData",
            "required": true
          },
          {
            "name": "password",
            "type": "string",
            "description": "Users password",
            "in": "formData",
            "required": true
          },
          {
            "name": "types",
            "type": "string",
            "description": "Type of connector, eg. banks or providers",
            "in": "formData",
            "required": false
          },
          {
            "name": "comment",
            "type": "string",
            "description": "Optionnal comment",
            "in": "formData",
            "required": false
          },
          {
            "name": "sendmail",
            "type": "boolean",
            "description": "if set, send an email to user",
            "in": "formData",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Request a new connector",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "Successful POST on Connector resource",
            "examples": {},
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "hidden",
            "type": "boolean",
            "description": "to enable  or disable connector (bank or provider)",
            "in": "formData",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Enable/disable several connectors",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Connector"
            },
            "description": "Successful PUT on Connector resource"
          }
        }
      }
    },
    "/connectors/{id_connector}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get a connector",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Connector"
            },
            "description": "Successful GET on Connector resource"
          }
        }
      },
      "put": {
        "description": "<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_categories",
            "type": "string",
            "description": "one or several comma separated categories to map to the given connector (or null to map no category)",
            "in": "formData",
            "required": false
          },
          {
            "name": "hidden",
            "type": "boolean",
            "description": "to enable  or disable connector (bank or provider)",
            "in": "formData",
            "required": false
          },
          {
            "name": "sync_frequency",
            "type": "integer",
            "description": "Allows you to overload global sync_frequency param",
            "in": "formData",
            "required": false
          },
          {
            "name": "auth_mechanism",
            "type": "string",
            "description": "the authentication mechanism to use for this connector",
            "in": "formData",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Edit the provided connector",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "description": "Successful PUT on Connector resource",
            "examples": {
              "sync_frequency": null,
              "code": "40618",
              "auth_mechanism": "credentials",
              "name": "Boursorama",
              "color": "f10389",
              "capabilities": [
                "profile",
                "banktransferaddrecipient",
                "contact",
                "bank",
                "banktransfer"
              ],
              "slug": "BOU",
              "beta": true,
              "hidden": false,
              "id": 4,
              "categories": [
                "virtual"
              ],
              "charged": true
            },
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          }
        }
      }
    },
    "/connectors/{id_connector}/logos": {
      "get": {
        "description": "This endpoint returns all links to files associated with this connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get all links to the files associated with this connector.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectorlogos",
            "schema": {
              "type": "object",
              "required": [
                "connectorlogos"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectorlogos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorLogo"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "This endpoint creates a connector logo. You can either pass a file to as a parameter to insert and link it with the connector or pass an id_file to link a connector with an existing file. Will fail if the file is already linked with that connector.<br><br>Form params: - id_file (integer): The id of the file to link with that connector. - img (string): Path to the image to link with that connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Create a connector Logo",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectorLogo"
            },
            "description": "Successful POST on ConnectorLogo resource"
          }
        }
      },
      "put": {
        "description": "This endpoint creates or update a connector logo. This logo is a mapping between a file (/file route) and a connector (/connectors route) or a provider (/providers route).<br><br>Form params: - id_file (integer): The id of the file to link with that connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Create or Update a connector Logo",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectorLogo"
            },
            "description": "Successful PUT on ConnectorLogo resource"
          }
        }
      }
    },
    "/connectors/{id_connector}/logos/main": {
      "get": {
        "description": "This endpoint returns all links to files associated with this connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get all links to the files associated with this connector.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectorlogos",
            "schema": {
              "type": "object",
              "required": [
                "connectorlogos"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectorlogos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorLogo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connectors/{id_connector}/logos/thumbnail": {
      "get": {
        "description": "This endpoint returns all links to files associated with this connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get all links to the files associated with this connector.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectorlogos",
            "schema": {
              "type": "object",
              "required": [
                "connectorlogos"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectorlogos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorLogo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connectors/{id_connector}/logos/{id_logo}": {
      "put": {
        "description": "This endpoint creates or update a connector logo. This logo is a mapping between a file (/file route) and a connector (/connectors route) or a provider (/providers route).<br><br>Form params: - id_file (integer): The id of the file to link with that connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_logo",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Create or Update a connector Logo.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectorLogo"
            },
            "description": "Successful PUT on ConnectorLogo resource"
          }
        }
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_logo",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Delete a single Logo object.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectorLogo"
            },
            "description": "Successful DELETE on ConnectorLogo resource"
          }
        }
      }
    },
    "/connectors/{id_connector}/sources": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get list of connector sources",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "sources",
            "schema": {
              "type": "object",
              "required": [
                "sources"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorSource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connectors/{id_connector}/sources/{id_connector_source}/fields": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_connector_source",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get fields specific to a domain and a source",
        "tags": [
          "Connections",
          "Banks"
        ],
        "responses": {
          "200": {
            "description": "source_fields",
            "schema": {
              "type": "object",
              "required": [
                "source_fields"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "source_fields": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorSourceField"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connectors/{id_connector}/sources/{id_source}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_source",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get the connector source",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectorSource"
            },
            "description": "Successful GET on ConnectorSource resource"
          }
        }
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_source",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "auth_mechanism",
            "type": "string",
            "description": "the authentication mechanism to use for this connector source",
            "in": "formData",
            "required": false
          },
          {
            "name": "disabled",
            "type": "boolean",
            "description": "to enable or disable connector source",
            "in": "formData",
            "required": false
          },
          {
            "name": "unavailable",
            "type": "string",
            "description": "to enable or disable the source (can only be edited by BI employees)",
            "in": "formData",
            "required": false,
            "format": "date-time"
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Edit the provided connector source",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ConnectorSource"
            },
            "description": "Successful PUT on ConnectorSource resource"
          }
        }
      }
    },
    "/incidents": {
      "get": {
        "description": "By default, provide all incidents. Results are paginated. Some filters can be set via query parameters.<br><br>",
        "parameters": [
          {
            "name": "state",
            "type": "string",
            "description": "comma separated list, filter incidents in the given states.",
            "in": "query",
            "required": false
          },
          {
            "name": "id",
            "type": "integer",
            "description": "give only the current state of the particular incidents.",
            "in": "query",
            "required": false
          },
          {
            "name": "weboob_id",
            "type": "string",
            "description": "comma_separated list, filter the incidents of the given weboob_id",
            "in": "query",
            "required": false
          },
          {
            "name": "start_date",
            "type": "string",
            "description": "filter last_update date >= start_date. YYYY-MM-DD format.",
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "type": "string",
            "description": "filter last_update date <= start_date. YYYY-MM-DD format.",
            "in": "query",
            "required": false
          },
          {
            "name": "page",
            "type": "integer",
            "description": "pagination option. Default to 1.",
            "in": "query",
            "required": false
          },
          {
            "name": "size",
            "type": "integer",
            "description": "pagination option. Default to 30.",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get incidents logs.",
        "tags": [
          "Timeline"
        ],
        "responses": {
          "200": {
            "description": "standard HTTP response"
          }
        }
      }
    },
    "/invoicing": {
      "get": {
        "description": "You can get all the invoicing data or just specific ones by using the available parameters.<br><br>If no parameters are specified, no invoicing data is returned.<br><br>",
        "parameters": [
          {
            "name": "min_date",
            "type": "string",
            "description": "minimal date",
            "in": "query",
            "required": false,
            "format": "date"
          },
          {
            "name": "max_date",
            "type": "string",
            "description": "maximum date",
            "in": "query",
            "required": false,
            "format": "date"
          },
          {
            "name": "users_synced",
            "type": "string",
            "description": "the number of user synchronized during the period",
            "in": "query",
            "required": false
          },
          {
            "name": "users_bank",
            "type": "string",
            "description": "the number of user of the Bank API synchronized during the period",
            "in": "query",
            "required": false
          },
          {
            "name": "users_bill",
            "type": "string",
            "description": " the number of user of the Bill API synchronized during the period",
            "in": "query",
            "required": false
          },
          {
            "name": "accounts_synced",
            "type": "string",
            "description": "the number of accounts synchronized during the period",
            "in": "query",
            "required": false
          },
          {
            "name": "subscriptions_synced",
            "type": "string",
            "description": "the number of subscriptions synchronized during the period",
            "in": "query",
            "required": false
          },
          {
            "name": "connections_synced",
            "type": "string",
            "description": "the number of connections synchronized during the period",
            "in": "query",
            "required": false
          },
          {
            "name": "connections_account",
            "type": "string",
            "description": "the number of Bank API connections synchronized during the period",
            "in": "query",
            "required": false
          },
          {
            "name": "transfers_synced",
            "type": "string",
            "description": "the number of transfers done during the period",
            "in": "query",
            "required": false
          },
          {
            "name": "payments_synced",
            "type": "string",
            "description": "the number of payments done during the period",
            "in": "query",
            "required": false
          },
          {
            "name": "all",
            "type": "string",
            "description": "get all the invoicing data at once",
            "in": "query",
            "required": false
          },
          {
            "name": "detail",
            "type": "string",
            "description": "get full ids list instead of numbers",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get invoicing data for a given period (default is the current month).",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "description": "standard HTTP response"
          }
        }
      }
    },
    "/logs": {
      "get": {
        "description": "Get logs about connections.<br><br>",
        "parameters": [
          {
            "name": "limit",
            "type": "integer",
            "description": "limit number of results",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "offset of first result",
            "in": "query",
            "required": false
          },
          {
            "name": "min_date",
            "type": "string",
            "description": "minimal date",
            "in": "query",
            "required": false,
            "format": "date"
          },
          {
            "name": "max_date",
            "type": "string",
            "description": "maximum date",
            "in": "query",
            "required": false,
            "format": "date"
          },
          {
            "name": "state",
            "type": "integer",
            "description": "state of user",
            "in": "query",
            "required": false
          },
          {
            "name": "period",
            "type": "string",
            "description": "period to group logs",
            "in": "query",
            "required": false
          },
          {
            "name": "id_user",
            "type": "integer",
            "description": "ID of a user",
            "in": "query",
            "required": false
          },
          {
            "name": "id_connection",
            "type": "integer",
            "description": "ID of a connection",
            "in": "query",
            "required": false
          },
          {
            "name": "id_connector",
            "type": "integer",
            "description": "ID of a connector",
            "in": "query",
            "required": false
          },
          {
            "name": "charged",
            "type": "boolean",
            "description": "consider only logs for charged connectors",
            "in": "query",
            "required": false
          },
          {
            "name": "id_source",
            "type": "integer",
            "description": "ID of a source",
            "in": "query",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get connection logs",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectionlogs",
            "schema": {
              "type": "object",
              "required": [
                "connectionlogs"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectionlogs": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectionLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monitoring": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "period",
            "type": "integer",
            "description": "number on days on which stats on synchronization have to be done per worker (Default: 1)",
            "in": "query",
            "required": false
          }
        ],
        "summary": "get performances stats on this instance",
        "tags": [
          "Administration"
        ],
        "responses": {
          "200": {
            "description": "standard HTTP response"
          }
        }
      }
    },
    "/providers": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get list of connectors",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "providers",
            "schema": {
              "type": "object",
              "required": [
                "providers"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "providers": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Connector"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers/{id_connector}/connections": {
      "get": {
        "description": "By default, it selects a set of 3 connections.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "range",
            "type": "integer",
            "description": "the length of the connection subset",
            "in": "query",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get a random subset of provider's id_connection",
        "tags": [
          "Banks",
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "connections",
            "schema": {
              "type": "object",
              "required": [
                "connections"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connections": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Connection"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers/{id_connector}/logos": {
      "get": {
        "description": "This endpoint returns all links to files associated with this connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get all links to the files associated with this connector.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectorlogos",
            "schema": {
              "type": "object",
              "required": [
                "connectorlogos"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectorlogos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorLogo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers/{id_connector}/logos/main": {
      "get": {
        "description": "This endpoint returns all links to files associated with this connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get all links to the files associated with this connector.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectorlogos",
            "schema": {
              "type": "object",
              "required": [
                "connectorlogos"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectorlogos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorLogo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers/{id_connector}/logos/thumbnail": {
      "get": {
        "description": "This endpoint returns all links to files associated with this connector.<br><br>",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get all links to the files associated with this connector.",
        "tags": [
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "connectorlogos",
            "schema": {
              "type": "object",
              "required": [
                "connectorlogos"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "connectorlogos": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorLogo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers/{id_connector}/sources": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
          }
        ],
        "summary": "Get list of connector sources",
        "tags": [
          "Connections",
          "Banks",
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "sources",
            "schema": {
              "type": "object",
              "required": [
                "sources"
              ],
              "properties": {
                "total": {
                  "type": "number",
                  "description": "total number of results"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConnectorSource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers/{id_connector}/sources/{id_connector_source}/fields": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id_connector",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "id_connector_source",
            "type": "integer",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "expand",
            "type": "string",
            "required": false,
            "in": "query"
[...]
