=begin
#Budgea API Documentation

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 2.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module BudgeaClient
  class BanksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get account types
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse200]
    def account_types_get(opts = {})
      data, _status_code, _headers = account_types_get_with_http_info(opts)
      data
    end

    # Get account types
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse200, Fixnum, Hash)>] InlineResponse200 data, response status code and response headers
    def account_types_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.account_types_get ...'
      end
      # resource path
      local_var_path = '/account_types'

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#account_types_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get an account type
    # 
    # @param id_account_type 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [AccountType]
    def account_types_id_account_type_get(id_account_type, opts = {})
      data, _status_code, _headers = account_types_id_account_type_get_with_http_info(id_account_type, opts)
      data
    end

    # Get an account type
    # 
    # @param id_account_type 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(AccountType, Fixnum, Hash)>] AccountType data, response status code and response headers
    def account_types_id_account_type_get_with_http_info(id_account_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.account_types_id_account_type_get ...'
      end
      # verify the required parameter 'id_account_type' is set
      if @api_client.config.client_side_validation && id_account_type.nil?
        fail ArgumentError, "Missing the required parameter 'id_account_type' when calling BanksApi.account_types_id_account_type_get"
      end
      # resource path
      local_var_path = '/account_types/{id_account_type}'.sub('{' + 'id_account_type' + '}', id_account_type.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AccountType')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#account_types_id_account_type_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete the supplied category
    # 
    # @param id_category 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [ConnectorCategory]
    def banks_categories_id_category_delete(id_category, opts = {})
      data, _status_code, _headers = banks_categories_id_category_delete_with_http_info(id_category, opts)
      data
    end

    # Delete the supplied category
    # 
    # @param id_category 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(ConnectorCategory, Fixnum, Hash)>] ConnectorCategory data, response status code and response headers
    def banks_categories_id_category_delete_with_http_info(id_category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.banks_categories_id_category_delete ...'
      end
      # verify the required parameter 'id_category' is set
      if @api_client.config.client_side_validation && id_category.nil?
        fail ArgumentError, "Missing the required parameter 'id_category' when calling BanksApi.banks_categories_id_category_delete"
      end
      # resource path
      local_var_path = '/banks/categories/{id_category}'.sub('{' + 'id_category' + '}', id_category.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectorCategory')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#banks_categories_id_category_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a bank categories
    # Edit the name for the supplied category.<br><br>
    # @param id_category 
    # @param name new name for the supplied category
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [ConnectorCategory]
    def banks_categories_id_category_post(id_category, name, opts = {})
      data, _status_code, _headers = banks_categories_id_category_post_with_http_info(id_category, name, opts)
      data
    end

    # Edit a bank categories
    # Edit the name for the supplied category.&lt;br&gt;&lt;br&gt;
    # @param id_category 
    # @param name new name for the supplied category
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(ConnectorCategory, Fixnum, Hash)>] ConnectorCategory data, response status code and response headers
    def banks_categories_id_category_post_with_http_info(id_category, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.banks_categories_id_category_post ...'
      end
      # verify the required parameter 'id_category' is set
      if @api_client.config.client_side_validation && id_category.nil?
        fail ArgumentError, "Missing the required parameter 'id_category' when calling BanksApi.banks_categories_id_category_post"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling BanksApi.banks_categories_id_category_post"
      end
      # resource path
      local_var_path = '/banks/categories/{id_category}'.sub('{' + 'id_category' + '}', id_category.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params['name'] = name

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectorCategory')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#banks_categories_id_category_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create bank categories
    # It requires the name of the category to be created<br><br>
    # @param name name of the category to be created
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [ConnectorCategory]
    def banks_categories_post(name, opts = {})
      data, _status_code, _headers = banks_categories_post_with_http_info(name, opts)
      data
    end

    # Create bank categories
    # It requires the name of the category to be created&lt;br&gt;&lt;br&gt;
    # @param name name of the category to be created
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(ConnectorCategory, Fixnum, Hash)>] ConnectorCategory data, response status code and response headers
    def banks_categories_post_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.banks_categories_post ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling BanksApi.banks_categories_post"
      end
      # resource path
      local_var_path = '/banks/categories'

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params['name'] = name

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectorCategory')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#banks_categories_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get list of connectors
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse2008]
    def banks_get(opts = {})
      data, _status_code, _headers = banks_get_with_http_info(opts)
      data
    end

    # Get list of connectors
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse2008, Fixnum, Hash)>] InlineResponse2008 data, response status code and response headers
    def banks_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.banks_get ...'
      end
      # resource path
      local_var_path = '/banks'

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2008')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#banks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a subset of id_connection with the largest diversity of account
    # By default, it selects a set of 3 connections.<br><br>
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range the length of the connection subset
    # @option opts [Integer] :type to target a specific account type which will be
    # @option opts [Integer] :occurrences require at least N accounts of the targeted
    # @option opts [String] :expand 
    # @return [InlineResponse2009]
    def banks_id_connector_connections_get(id_connector, opts = {})
      data, _status_code, _headers = banks_id_connector_connections_get_with_http_info(id_connector, opts)
      data
    end

    # Get a subset of id_connection with the largest diversity of account
    # By default, it selects a set of 3 connections.&lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :range the length of the connection subset
    # @option opts [Integer] :type to target a specific account type which will be
    # @option opts [Integer] :occurrences require at least N accounts of the targeted
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse2009, Fixnum, Hash)>] InlineResponse2009 data, response status code and response headers
    def banks_id_connector_connections_get_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.banks_id_connector_connections_get ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.banks_id_connector_connections_get"
      end
      # resource path
      local_var_path = '/banks/{id_connector}/connections'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'occurrences'] = opts[:'occurrences'] if !opts[:'occurrences'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2009')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#banks_id_connector_connections_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.<br><br>
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20010]
    def banks_id_connector_logos_get(id_connector, opts = {})
      data, _status_code, _headers = banks_id_connector_logos_get_with_http_info(id_connector, opts)
      data
    end

    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.&lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20010, Fixnum, Hash)>] InlineResponse20010 data, response status code and response headers
    def banks_id_connector_logos_get_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.banks_id_connector_logos_get ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.banks_id_connector_logos_get"
      end
      # resource path
      local_var_path = '/banks/{id_connector}/logos'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20010')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#banks_id_connector_logos_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.<br><br>
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20010]
    def banks_id_connector_logos_main_get(id_connector, opts = {})
      data, _status_code, _headers = banks_id_connector_logos_main_get_with_http_info(id_connector, opts)
      data
    end

    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.&lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20010, Fixnum, Hash)>] InlineResponse20010 data, response status code and response headers
    def banks_id_connector_logos_main_get_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.banks_id_connector_logos_main_get ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.banks_id_connector_logos_main_get"
      end
      # resource path
      local_var_path = '/banks/{id_connector}/logos/main'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20010')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#banks_id_connector_logos_main_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.<br><br>
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20010]
    def banks_id_connector_logos_thumbnail_get(id_connector, opts = {})
      data, _status_code, _headers = banks_id_connector_logos_thumbnail_get_with_http_info(id_connector, opts)
      data
    end

    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.&lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20010, Fixnum, Hash)>] InlineResponse20010 data, response status code and response headers
    def banks_id_connector_logos_thumbnail_get_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.banks_id_connector_logos_thumbnail_get ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.banks_id_connector_logos_thumbnail_get"
      end
      # resource path
      local_var_path = '/banks/{id_connector}/logos/thumbnail'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20010')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#banks_id_connector_logos_thumbnail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get list of connector sources
    # 
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20011]
    def banks_id_connector_sources_get(id_connector, opts = {})
      data, _status_code, _headers = banks_id_connector_sources_get_with_http_info(id_connector, opts)
      data
    end

    # Get list of connector sources
    # 
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20011, Fixnum, Hash)>] InlineResponse20011 data, response status code and response headers
    def banks_id_connector_sources_get_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.banks_id_connector_sources_get ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.banks_id_connector_sources_get"
      end
      # resource path
      local_var_path = '/banks/{id_connector}/sources'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20011')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#banks_id_connector_sources_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all categories
    # Ressource to get all existing categories<br><br>
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20012]
    def categories_get(opts = {})
      data, _status_code, _headers = categories_get_with_http_info(opts)
      data
    end

    # Get all categories
    # Ressource to get all existing categories&lt;br&gt;&lt;br&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20012, Fixnum, Hash)>] InlineResponse20012 data, response status code and response headers
    def categories_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.categories_get ...'
      end
      # resource path
      local_var_path = '/categories'

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20012')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#categories_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a particular key-value pair on a transaction.
    # 
    # @param id_keyword 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Keyword]
    def categories_keywords_id_keyword_delete(id_keyword, opts = {})
      data, _status_code, _headers = categories_keywords_id_keyword_delete_with_http_info(id_keyword, opts)
      data
    end

    # Delete a particular key-value pair on a transaction.
    # 
    # @param id_keyword 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(Keyword, Fixnum, Hash)>] Keyword data, response status code and response headers
    def categories_keywords_id_keyword_delete_with_http_info(id_keyword, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.categories_keywords_id_keyword_delete ...'
      end
      # verify the required parameter 'id_keyword' is set
      if @api_client.config.client_side_validation && id_keyword.nil?
        fail ArgumentError, "Missing the required parameter 'id_keyword' when calling BanksApi.categories_keywords_id_keyword_delete"
      end
      # resource path
      local_var_path = '/categories/keywords/{id_keyword}'.sub('{' + 'id_keyword' + '}', id_keyword.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Keyword')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#categories_keywords_id_keyword_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add a new keyword associated with a category in the database.
    # If the keyword already exists the keyword is not added. Used for the categorization of transactions.<br><br>Form params: - id_category (integer): a reference towards the category associated with the keyword - keyword (string): the searched keyword - income (bool): 1 if the associated category represents an income else 0 - priority (integer): sets the priority for the keyword, used when categorizing<br><br>
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Keyword]
    def categories_keywords_post(opts = {})
      data, _status_code, _headers = categories_keywords_post_with_http_info(opts)
      data
    end

    # Add a new keyword associated with a category in the database.
    # If the keyword already exists the keyword is not added. Used for the categorization of transactions.&lt;br&gt;&lt;br&gt;Form params: - id_category (integer): a reference towards the category associated with the keyword - keyword (string): the searched keyword - income (bool): 1 if the associated category represents an income else 0 - priority (integer): sets the priority for the keyword, used when categorizing&lt;br&gt;&lt;br&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(Keyword, Fixnum, Hash)>] Keyword data, response status code and response headers
    def categories_keywords_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.categories_keywords_post ...'
      end
      # resource path
      local_var_path = '/categories/keywords'

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Keyword')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#categories_keywords_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # categorize transactions without storing them
    # It requires an array of transaction dictionaries. Any fields of transactions that are not required will be kept in the response. The response contains the list of transactions with two more fields: id_category and state (it indicates how the transaction has been categorized)<br><br>
    # @param wording label of the transaction
    # @param value value of the transaction
    # @param type type of the transaction (default: unknown)
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def categorize_post(wording, value, type, opts = {})
      data, _status_code, _headers = categorize_post_with_http_info(wording, value, type, opts)
      data
    end

    # categorize transactions without storing them
    # It requires an array of transaction dictionaries. Any fields of transactions that are not required will be kept in the response. The response contains the list of transactions with two more fields: id_category and state (it indicates how the transaction has been categorized)&lt;br&gt;&lt;br&gt;
    # @param wording label of the transaction
    # @param value value of the transaction
    # @param type type of the transaction (default: unknown)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def categorize_post_with_http_info(wording, value, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.categorize_post ...'
      end
      # verify the required parameter 'wording' is set
      if @api_client.config.client_side_validation && wording.nil?
        fail ArgumentError, "Missing the required parameter 'wording' when calling BanksApi.categorize_post"
      end
      # verify the required parameter 'value' is set
      if @api_client.config.client_side_validation && value.nil?
        fail ArgumentError, "Missing the required parameter 'value' when calling BanksApi.categorize_post"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling BanksApi.categorize_post"
      end
      # resource path
      local_var_path = '/categorize'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params['wording'] = wording
      form_params['value'] = value
      form_params['type'] = type

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#categorize_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get connections without a user
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse2009]
    def connections_get(opts = {})
      data, _status_code, _headers = connections_get_with_http_info(opts)
      data
    end

    # Get connections without a user
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse2009, Fixnum, Hash)>] InlineResponse2009 data, response status code and response headers
    def connections_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connections_get ...'
      end
      # resource path
      local_var_path = '/connections'

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2009')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connections_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get connection logs
    # Get logs about connections.<br><br>
    # @param id_connection 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit limit number of results
    # @option opts [Integer] :offset offset of first result
    # @option opts [Date] :min_date minimal date
    # @option opts [Date] :max_date maximum date
    # @option opts [Integer] :state state of user
    # @option opts [String] :period period to group logs
    # @option opts [Integer] :id_user ID of a user
    # @option opts [Integer] :id_connection2 ID of a connection
    # @option opts [Integer] :id_connector ID of a connector
    # @option opts [BOOLEAN] :charged consider only logs for charged connectors
    # @option opts [Integer] :id_source ID of a source
    # @option opts [String] :expand 
    # @return [InlineResponse20015]
    def connections_id_connection_logs_get(id_connection, opts = {})
      data, _status_code, _headers = connections_id_connection_logs_get_with_http_info(id_connection, opts)
      data
    end

    # Get connection logs
    # Get logs about connections.&lt;br&gt;&lt;br&gt;
    # @param id_connection 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit limit number of results
    # @option opts [Integer] :offset offset of first result
    # @option opts [Date] :min_date minimal date
    # @option opts [Date] :max_date maximum date
    # @option opts [Integer] :state state of user
    # @option opts [String] :period period to group logs
    # @option opts [Integer] :id_user ID of a user
    # @option opts [Integer] :id_connection2 ID of a connection
    # @option opts [Integer] :id_connector ID of a connector
    # @option opts [BOOLEAN] :charged consider only logs for charged connectors
    # @option opts [Integer] :id_source ID of a source
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20015, Fixnum, Hash)>] InlineResponse20015 data, response status code and response headers
    def connections_id_connection_logs_get_with_http_info(id_connection, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connections_id_connection_logs_get ...'
      end
      # verify the required parameter 'id_connection' is set
      if @api_client.config.client_side_validation && id_connection.nil?
        fail ArgumentError, "Missing the required parameter 'id_connection' when calling BanksApi.connections_id_connection_logs_get"
      end
      # resource path
      local_var_path = '/connections/{id_connection}/logs'.sub('{' + 'id_connection' + '}', id_connection.to_s)

      # query parameters
      query_params = {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'min_date'] = opts[:'min_date'] if !opts[:'min_date'].nil?
      query_params[:'max_date'] = opts[:'max_date'] if !opts[:'max_date'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?
      query_params[:'id_user'] = opts[:'id_user'] if !opts[:'id_user'].nil?
      query_params[:'id_connection'] = opts[:'id_connection2'] if !opts[:'id_connection2'].nil?
      query_params[:'id_connector'] = opts[:'id_connector'] if !opts[:'id_connector'].nil?
      query_params[:'charged'] = opts[:'charged'] if !opts[:'charged'].nil?
      query_params[:'id_source'] = opts[:'id_source'] if !opts[:'id_source'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20015')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connections_id_connection_logs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get connection sources
    # 
    # @param id_connection 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20016]
    def connections_id_connection_sources_get(id_connection, opts = {})
      data, _status_code, _headers = connections_id_connection_sources_get_with_http_info(id_connection, opts)
      data
    end

    # Get connection sources
    # 
    # @param id_connection 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20016, Fixnum, Hash)>] InlineResponse20016 data, response status code and response headers
    def connections_id_connection_sources_get_with_http_info(id_connection, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connections_id_connection_sources_get ...'
      end
      # verify the required parameter 'id_connection' is set
      if @api_client.config.client_side_validation && id_connection.nil?
        fail ArgumentError, "Missing the required parameter 'id_connection' when calling BanksApi.connections_id_connection_sources_get"
      end
      # resource path
      local_var_path = '/connections/{id_connection}/sources'.sub('{' + 'id_connection' + '}', id_connection.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20016')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connections_id_connection_sources_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable a connection source
    # This will make it so the specified source will not be synchronized anymore.<br><br>
    # @param id_connection 
    # @param id_source 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [ConnectionSource]
    def connections_id_connection_sources_id_source_delete(id_connection, id_source, opts = {})
      data, _status_code, _headers = connections_id_connection_sources_id_source_delete_with_http_info(id_connection, id_source, opts)
      data
    end

    # Disable a connection source
    # This will make it so the specified source will not be synchronized anymore.&lt;br&gt;&lt;br&gt;
    # @param id_connection 
    # @param id_source 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(ConnectionSource, Fixnum, Hash)>] ConnectionSource data, response status code and response headers
    def connections_id_connection_sources_id_source_delete_with_http_info(id_connection, id_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connections_id_connection_sources_id_source_delete ...'
      end
      # verify the required parameter 'id_connection' is set
      if @api_client.config.client_side_validation && id_connection.nil?
        fail ArgumentError, "Missing the required parameter 'id_connection' when calling BanksApi.connections_id_connection_sources_id_source_delete"
      end
      # verify the required parameter 'id_source' is set
      if @api_client.config.client_side_validation && id_source.nil?
        fail ArgumentError, "Missing the required parameter 'id_source' when calling BanksApi.connections_id_connection_sources_id_source_delete"
      end
      # resource path
      local_var_path = '/connections/{id_connection}/sources/{id_source}'.sub('{' + 'id_connection' + '}', id_connection.to_s).sub('{' + 'id_source' + '}', id_source.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectionSource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connections_id_connection_sources_id_source_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable connection source
    # This will make it so the specified source will be able to be synchronized.<br><br>
    # @param id_connection 
    # @param id_source 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [ConnectionSource]
    def connections_id_connection_sources_id_source_post(id_connection, id_source, opts = {})
      data, _status_code, _headers = connections_id_connection_sources_id_source_post_with_http_info(id_connection, id_source, opts)
      data
    end

    # Enable connection source
    # This will make it so the specified source will be able to be synchronized.&lt;br&gt;&lt;br&gt;
    # @param id_connection 
    # @param id_source 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(ConnectionSource, Fixnum, Hash)>] ConnectionSource data, response status code and response headers
    def connections_id_connection_sources_id_source_post_with_http_info(id_connection, id_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connections_id_connection_sources_id_source_post ...'
      end
      # verify the required parameter 'id_connection' is set
      if @api_client.config.client_side_validation && id_connection.nil?
        fail ArgumentError, "Missing the required parameter 'id_connection' when calling BanksApi.connections_id_connection_sources_id_source_post"
      end
      # verify the required parameter 'id_source' is set
      if @api_client.config.client_side_validation && id_source.nil?
        fail ArgumentError, "Missing the required parameter 'id_source' when calling BanksApi.connections_id_connection_sources_id_source_post"
      end
      # resource path
      local_var_path = '/connections/{id_connection}/sources/{id_source}'.sub('{' + 'id_connection' + '}', id_connection.to_s).sub('{' + 'id_source' + '}', id_source.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectionSource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connections_id_connection_sources_id_source_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable connection source
    # This will make it so the specified source will be able to be synchronized.<br><br>
    # @param id_connection 
    # @param id_source 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [ConnectionSource]
    def connections_id_connection_sources_id_source_put(id_connection, id_source, opts = {})
      data, _status_code, _headers = connections_id_connection_sources_id_source_put_with_http_info(id_connection, id_source, opts)
      data
    end

    # Enable connection source
    # This will make it so the specified source will be able to be synchronized.&lt;br&gt;&lt;br&gt;
    # @param id_connection 
    # @param id_source 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(ConnectionSource, Fixnum, Hash)>] ConnectionSource data, response status code and response headers
    def connections_id_connection_sources_id_source_put_with_http_info(id_connection, id_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connections_id_connection_sources_id_source_put ...'
      end
      # verify the required parameter 'id_connection' is set
      if @api_client.config.client_side_validation && id_connection.nil?
        fail ArgumentError, "Missing the required parameter 'id_connection' when calling BanksApi.connections_id_connection_sources_id_source_put"
      end
      # verify the required parameter 'id_source' is set
      if @api_client.config.client_side_validation && id_source.nil?
        fail ArgumentError, "Missing the required parameter 'id_source' when calling BanksApi.connections_id_connection_sources_id_source_put"
      end
      # resource path
      local_var_path = '/connections/{id_connection}/sources/{id_source}'.sub('{' + 'id_connection' + '}', id_connection.to_s).sub('{' + 'id_source' + '}', id_source.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectionSource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connections_id_connection_sources_id_source_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get list of connectors
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20017]
    def connectors_get(opts = {})
      data, _status_code, _headers = connectors_get_with_http_info(opts)
      data
    end

    # Get list of connectors
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20017, Fixnum, Hash)>] InlineResponse20017 data, response status code and response headers
    def connectors_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_get ...'
      end
      # resource path
      local_var_path = '/connectors'

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20017')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.<br><br>
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20010]
    def connectors_id_connector_logos_get(id_connector, opts = {})
      data, _status_code, _headers = connectors_id_connector_logos_get_with_http_info(id_connector, opts)
      data
    end

    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.&lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20010, Fixnum, Hash)>] InlineResponse20010 data, response status code and response headers
    def connectors_id_connector_logos_get_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_id_connector_logos_get ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.connectors_id_connector_logos_get"
      end
      # resource path
      local_var_path = '/connectors/{id_connector}/logos'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20010')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_id_connector_logos_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a single Logo object.
    # 
    # @param id_connector 
    # @param id_logo 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [ConnectorLogo]
    def connectors_id_connector_logos_id_logo_delete(id_connector, id_logo, opts = {})
      data, _status_code, _headers = connectors_id_connector_logos_id_logo_delete_with_http_info(id_connector, id_logo, opts)
      data
    end

    # Delete a single Logo object.
    # 
    # @param id_connector 
    # @param id_logo 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(ConnectorLogo, Fixnum, Hash)>] ConnectorLogo data, response status code and response headers
    def connectors_id_connector_logos_id_logo_delete_with_http_info(id_connector, id_logo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_id_connector_logos_id_logo_delete ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.connectors_id_connector_logos_id_logo_delete"
      end
      # verify the required parameter 'id_logo' is set
      if @api_client.config.client_side_validation && id_logo.nil?
        fail ArgumentError, "Missing the required parameter 'id_logo' when calling BanksApi.connectors_id_connector_logos_id_logo_delete"
      end
      # resource path
      local_var_path = '/connectors/{id_connector}/logos/{id_logo}'.sub('{' + 'id_connector' + '}', id_connector.to_s).sub('{' + 'id_logo' + '}', id_logo.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectorLogo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_id_connector_logos_id_logo_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update a connector Logo.
    # This endpoint creates or update a connector logo. This logo is a mapping between a file (/file route) and a connector (/connectors route) or a provider (/providers route).<br><br>Form params: - id_file (integer): The id of the file to link with that connector.<br><br>
    # @param id_connector 
    # @param id_logo 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [ConnectorLogo]
    def connectors_id_connector_logos_id_logo_put(id_connector, id_logo, opts = {})
      data, _status_code, _headers = connectors_id_connector_logos_id_logo_put_with_http_info(id_connector, id_logo, opts)
      data
    end

    # Create or Update a connector Logo.
    # This endpoint creates or update a connector logo. This logo is a mapping between a file (/file route) and a connector (/connectors route) or a provider (/providers route).&lt;br&gt;&lt;br&gt;Form params: - id_file (integer): The id of the file to link with that connector.&lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param id_logo 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(ConnectorLogo, Fixnum, Hash)>] ConnectorLogo data, response status code and response headers
    def connectors_id_connector_logos_id_logo_put_with_http_info(id_connector, id_logo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_id_connector_logos_id_logo_put ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.connectors_id_connector_logos_id_logo_put"
      end
      # verify the required parameter 'id_logo' is set
      if @api_client.config.client_side_validation && id_logo.nil?
        fail ArgumentError, "Missing the required parameter 'id_logo' when calling BanksApi.connectors_id_connector_logos_id_logo_put"
      end
      # resource path
      local_var_path = '/connectors/{id_connector}/logos/{id_logo}'.sub('{' + 'id_connector' + '}', id_connector.to_s).sub('{' + 'id_logo' + '}', id_logo.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectorLogo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_id_connector_logos_id_logo_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.<br><br>
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20010]
    def connectors_id_connector_logos_main_get(id_connector, opts = {})
      data, _status_code, _headers = connectors_id_connector_logos_main_get_with_http_info(id_connector, opts)
      data
    end

    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.&lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20010, Fixnum, Hash)>] InlineResponse20010 data, response status code and response headers
    def connectors_id_connector_logos_main_get_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_id_connector_logos_main_get ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.connectors_id_connector_logos_main_get"
      end
      # resource path
      local_var_path = '/connectors/{id_connector}/logos/main'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20010')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_id_connector_logos_main_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a connector Logo
    # This endpoint creates a connector logo. You can either pass a file to as a parameter to insert and link it with the connector or pass an id_file to link a connector with an existing file. Will fail if the file is already linked with that connector.<br><br>Form params: - id_file (integer): The id of the file to link with that connector. - img (string): Path to the image to link with that connector.<br><br>
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [ConnectorLogo]
    def connectors_id_connector_logos_post(id_connector, opts = {})
      data, _status_code, _headers = connectors_id_connector_logos_post_with_http_info(id_connector, opts)
      data
    end

    # Create a connector Logo
    # This endpoint creates a connector logo. You can either pass a file to as a parameter to insert and link it with the connector or pass an id_file to link a connector with an existing file. Will fail if the file is already linked with that connector.&lt;br&gt;&lt;br&gt;Form params: - id_file (integer): The id of the file to link with that connector. - img (string): Path to the image to link with that connector.&lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(ConnectorLogo, Fixnum, Hash)>] ConnectorLogo data, response status code and response headers
    def connectors_id_connector_logos_post_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_id_connector_logos_post ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.connectors_id_connector_logos_post"
      end
      # resource path
      local_var_path = '/connectors/{id_connector}/logos'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectorLogo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_id_connector_logos_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or Update a connector Logo
    # This endpoint creates or update a connector logo. This logo is a mapping between a file (/file route) and a connector (/connectors route) or a provider (/providers route).<br><br>Form params: - id_file (integer): The id of the file to link with that connector.<br><br>
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [ConnectorLogo]
    def connectors_id_connector_logos_put(id_connector, opts = {})
      data, _status_code, _headers = connectors_id_connector_logos_put_with_http_info(id_connector, opts)
      data
    end

    # Create or Update a connector Logo
    # This endpoint creates or update a connector logo. This logo is a mapping between a file (/file route) and a connector (/connectors route) or a provider (/providers route).&lt;br&gt;&lt;br&gt;Form params: - id_file (integer): The id of the file to link with that connector.&lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(ConnectorLogo, Fixnum, Hash)>] ConnectorLogo data, response status code and response headers
    def connectors_id_connector_logos_put_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_id_connector_logos_put ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.connectors_id_connector_logos_put"
      end
      # resource path
      local_var_path = '/connectors/{id_connector}/logos'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectorLogo')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_id_connector_logos_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.<br><br>
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20010]
    def connectors_id_connector_logos_thumbnail_get(id_connector, opts = {})
      data, _status_code, _headers = connectors_id_connector_logos_thumbnail_get_with_http_info(id_connector, opts)
      data
    end

    # Get all links to the files associated with this connector.
    # This endpoint returns all links to files associated with this connector.&lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20010, Fixnum, Hash)>] InlineResponse20010 data, response status code and response headers
    def connectors_id_connector_logos_thumbnail_get_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_id_connector_logos_thumbnail_get ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.connectors_id_connector_logos_thumbnail_get"
      end
      # resource path
      local_var_path = '/connectors/{id_connector}/logos/thumbnail'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20010')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_id_connector_logos_thumbnail_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit the provided connector
    # <br><br>
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id_categories one or several comma separated categories to map to the given connector (or null to map no category)
    # @option opts [BOOLEAN] :hidden to enable  or disable connector (bank or provider)
    # @option opts [Integer] :sync_frequency Allows you to overload global sync_frequency param
    # @option opts [String] :auth_mechanism the authentication mechanism to use for this connector
    # @option opts [String] :expand 
    # @return [Connector]
    def connectors_id_connector_put(id_connector, opts = {})
      data, _status_code, _headers = connectors_id_connector_put_with_http_info(id_connector, opts)
      data
    end

    # Edit the provided connector
    # &lt;br&gt;&lt;br&gt;
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id_categories one or several comma separated categories to map to the given connector (or null to map no category)
    # @option opts [BOOLEAN] :hidden to enable  or disable connector (bank or provider)
    # @option opts [Integer] :sync_frequency Allows you to overload global sync_frequency param
    # @option opts [String] :auth_mechanism the authentication mechanism to use for this connector
    # @option opts [String] :expand 
    # @return [Array<(Connector, Fixnum, Hash)>] Connector data, response status code and response headers
    def connectors_id_connector_put_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_id_connector_put ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.connectors_id_connector_put"
      end
      # resource path
      local_var_path = '/connectors/{id_connector}'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params['id_categories'] = opts[:'id_categories'] if !opts[:'id_categories'].nil?
      form_params['hidden'] = opts[:'hidden'] if !opts[:'hidden'].nil?
      form_params['sync_frequency'] = opts[:'sync_frequency'] if !opts[:'sync_frequency'].nil?
      form_params['auth_mechanism'] = opts[:'auth_mechanism'] if !opts[:'auth_mechanism'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Connector')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_id_connector_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get list of connector sources
    # 
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [InlineResponse20011]
    def connectors_id_connector_sources_get(id_connector, opts = {})
      data, _status_code, _headers = connectors_id_connector_sources_get_with_http_info(id_connector, opts)
      data
    end

    # Get list of connector sources
    # 
    # @param id_connector 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand 
    # @return [Array<(InlineResponse20011, Fixnum, Hash)>] InlineResponse20011 data, response status code and response headers
    def connectors_id_connector_sources_get_with_http_info(id_connector, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_id_connector_sources_get ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.connectors_id_connector_sources_get"
      end
      # resource path
      local_var_path = '/connectors/{id_connector}/sources'.sub('{' + 'id_connector' + '}', id_connector.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20011')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_id_connector_sources_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit the provided connector source
    # 
    # @param id_connector 
    # @param id_source 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :auth_mechanism the authentication mechanism to use for this connector source
    # @option opts [DateTime] :disabled to enable or disable connector source
    # @option opts [String] :expand 
    # @return [ConnectorSource]
    def connectors_id_connector_sources_id_source_put(id_connector, id_source, opts = {})
      data, _status_code, _headers = connectors_id_connector_sources_id_source_put_with_http_info(id_connector, id_source, opts)
      data
    end

    # Edit the provided connector source
    # 
    # @param id_connector 
    # @param id_source 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :auth_mechanism the authentication mechanism to use for this connector source
    # @option opts [DateTime] :disabled to enable or disable connector source
    # @option opts [String] :expand 
    # @return [Array<(ConnectorSource, Fixnum, Hash)>] ConnectorSource data, response status code and response headers
    def connectors_id_connector_sources_id_source_put_with_http_info(id_connector, id_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_id_connector_sources_id_source_put ...'
      end
      # verify the required parameter 'id_connector' is set
      if @api_client.config.client_side_validation && id_connector.nil?
        fail ArgumentError, "Missing the required parameter 'id_connector' when calling BanksApi.connectors_id_connector_sources_id_source_put"
      end
      # verify the required parameter 'id_source' is set
      if @api_client.config.client_side_validation && id_source.nil?
        fail ArgumentError, "Missing the required parameter 'id_source' when calling BanksApi.connectors_id_connector_sources_id_source_put"
      end
      # resource path
      local_var_path = '/connectors/{id_connector}/sources/{id_source}'.sub('{' + 'id_connector' + '}', id_connector.to_s).sub('{' + 'id_source' + '}', id_source.to_s)

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params['auth_mechanism'] = opts[:'auth_mechanism'] if !opts[:'auth_mechanism'].nil?
      form_params['disabled'] = opts[:'disabled'] if !opts[:'disabled'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ConnectorSource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_id_connector_sources_id_source_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Request a new connector
    # Send a request to add a new connector<br><br>
    # @param name Name of the bank or provider
    # @param login Users login
    # @param password Users password
    # @param [Hash] opts the optional parameters
    # @option opts [String] :url Url of the bank
    # @option opts [String] :email Email of the user
    # @option opts [String] :types Type of connector, eg. banks or providers
    # @option opts [String] :comment Optionnal comment
    # @option opts [BOOLEAN] :sendmail if set, send an email to user
    # @option opts [String] :expand 
    # @return [Connector]
    def connectors_post(name, login, password, opts = {})
      data, _status_code, _headers = connectors_post_with_http_info(name, login, password, opts)
      data
    end

    # Request a new connector
    # Send a request to add a new connector&lt;br&gt;&lt;br&gt;
    # @param name Name of the bank or provider
    # @param login Users login
    # @param password Users password
    # @param [Hash] opts the optional parameters
    # @option opts [String] :url Url of the bank
    # @option opts [String] :email Email of the user
    # @option opts [String] :types Type of connector, eg. banks or providers
    # @option opts [String] :comment Optionnal comment
    # @option opts [BOOLEAN] :sendmail if set, send an email to user
    # @option opts [String] :expand 
    # @return [Array<(Connector, Fixnum, Hash)>] Connector data, response status code and response headers
    def connectors_post_with_http_info(name, login, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_post ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling BanksApi.connectors_post"
      end
      # verify the required parameter 'login' is set
      if @api_client.config.client_side_validation && login.nil?
        fail ArgumentError, "Missing the required parameter 'login' when calling BanksApi.connectors_post"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling BanksApi.connectors_post"
      end
      # resource path
      local_var_path = '/connectors'

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params['name'] = name
      form_params['login'] = login
      form_params['password'] = password
      form_params['url'] = opts[:'url'] if !opts[:'url'].nil?
      form_params['email'] = opts[:'email'] if !opts[:'email'].nil?
      form_params['types'] = opts[:'types'] if !opts[:'types'].nil?
      form_params['comment'] = opts[:'comment'] if !opts[:'comment'].nil?
      form_params['sendmail'] = opts[:'sendmail'] if !opts[:'sendmail'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Connector')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable/disable several connectors
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :hidden to enable  or disable connector (bank or provider)
    # @option opts [String] :expand 
    # @return [Connector]
    def connectors_put(opts = {})
      data, _status_code, _headers = connectors_put_with_http_info(opts)
      data
    end

    # Enable/disable several connectors
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :hidden to enable  or disable connector (bank or provider)
    # @option opts [String] :expand 
    # @return [Array<(Connector, Fixnum, Hash)>] Connector data, response status code and response headers
    def connectors_put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.connectors_put ...'
      end
      # resource path
      local_var_path = '/connectors'

      # query parameters
      query_params = {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params['hidden'] = opts[:'hidden'] if !opts[:'hidden'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Connector')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BanksApi#connectors_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get invoicing data for a given period (default is the current month).
    # You can get all the invoicing data or just specific ones by using the available parameters.<br><br>If no parameters are specified, no invoicing data is returned.<br><br>
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :min_date minimal date
    # @option opts [Date] :max_date maximum date
    # @option opts [String] :users_synced the number of user synchronized during the period
    # @option opts [String] :users_bank the number of user of the Bank API synchronized during the period
    # @option opts [String] :users_bill  the number of user of the Bill API synchronized during the period
    # @option opts [String] :accounts_synced the number of accounts synchronized during the period
    # @option opts [String] :subscriptions_synced the number of subscriptions synchronized during the period
    # @option opts [String] :connections_synced the number of connections synchronized during the period
    # @option opts [String] :connections_account the number of Bank API connections synchronized during the period
    # @option opts [String] :transfers_synced the number of transfers done during the period
    # @option opts [String] :all get all the invoicing data at once
    # @option opts [String] :detail get full ids list instead of numbers
    # @return [nil]
    def invoicing_get(opts = {})
      invoicing_get_with_http_info(opts)
      nil
    end

    # Get invoicing data for a given period (default is the current month).
    # You can get all the invoicing data or just specific ones by using the available parameters.&lt;br&gt;&lt;br&gt;If no parameters are specified, no invoicing data is returned.&lt;br&gt;&lt;br&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :min_date minimal date
    # @option opts [Date] :max_date maximum date
    # @option opts [String] :users_synced the number of user synchronized during the period
    # @option opts [String] :users_bank the number of user of the Bank API synchronized during the period
    # @option opts [String] :users_bill  the number of user of the Bill API synchronized during the period
    # @option opts [String] :accounts_synced the number of accounts synchronized during the period
    # @option opts [String] :subscriptions_synced the number of subscriptions synchronized during the period
    # @option opts [String] :connections_synced the number of connections synchronized during the period
    # @option opts [String] :connections_account the number of Bank API connections synchronized during the period
    # @option opts [String] :transfers_synced the number of transfers done during the period
    # @option opts [String] :all get all the invoicing data at once
    # @option opts [String] :detail get full ids list instead of numbers
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def invoicing_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BanksApi.invoicing_get ...'
      end
      # resource path
      local_var_path = '/invoicing'

      # query parameters
      query_params = {}
      query_params[:'min_date'] = opts[:'min_date'] if !opts[:'min_date'].nil?
      query_params[:'max_date'] = opts[:'max_date'] if !opts[:'max_date'].nil?
      query_params[:'users_synced'] = opts[:'users_synced'] if !opts[:'users_synced'].nil?
      query_params[:'users_bank'] = opts[:'users_bank'] if !opts[:'users_bank'].nil?
      query_params[:'users_bill'] = opts[:'users_bill'] if !opts[:'users_bill'].nil?
      query_params[:'accounts_synced'] = opts[:'accounts_synced'] if !opts[:'accounts_synced'].nil?
[...]
