=begin
#Budgea API Documentation

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 2.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.1

=end

require 'uri'

module BudgeaClient
  class HUBApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Setup a field to store in user config when calling the endpoint
    # For each parameter, a value will be added in the webhook data. Use the key to set the name of the field. The values that can be added are to be found in the user configuration.<br><br>
    # @param id_webhook 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def webhooks_id_webhook_add_to_data_post(id_webhook, opts = {})
      webhooks_id_webhook_add_to_data_post_with_http_info(id_webhook, opts)
      nil
    end

    # Setup a field to store in user config when calling the endpoint
    # For each parameter, a value will be added in the webhook data. Use the key to set the name of the field. The values that can be added are to be found in the user configuration.&lt;br&gt;&lt;br&gt;
    # @param id_webhook 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def webhooks_id_webhook_add_to_data_post_with_http_info(id_webhook, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HUBApi.webhooks_id_webhook_add_to_data_post ...'
      end
      # verify the required parameter 'id_webhook' is set
      if @api_client.config.client_side_validation && id_webhook.nil?
        fail ArgumentError, "Missing the required parameter 'id_webhook' when calling HUBApi.webhooks_id_webhook_add_to_data_post"
      end
      # resource path
      local_var_path = '/webhooks/{id_webhook}/add_to_data'.sub('{' + 'id_webhook' + '}', id_webhook.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HUBApi#webhooks_id_webhook_add_to_data_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
